{% extends 'base.html.twig' %}

{% block title %}New Biens{% endblock %}

{% block body %}
    <h1>Create new Biens</h1>

    {{ include('biens/_form.html.twig') }}

    <a href="{{ path('biens_index') }}">back to list</a>
{% endblock %}
